<ion-view view-title="Vibrate">
  <ion-content>
      <button class="button button-full button-energized" ng-click="Vibrate(1000)" ion-button>Vibrate 1s</button>
      <button class="button button-full button-energized" ng-click="Vibrate(3000)" ion-button>Vibrate 3s</button>
      <button class="button button-full button-energized" ng-click="Vibrate(5000)" ion-button>Vibrate 5s</button>
      <button class="button button-full button-energized" ng-click="Vibrate(7000)" ion-button>Vibrate 7s</button>
      <button class="button button-full button-energized" ng-click="Vibrate(9000)" ion-button>Vibrate 9s</button>
  </ion-content>
</ion-view>
